{% extends "base.html" %}

{% block content %}
  <h2>Lista de Clientes</h2>
  <a href="{% url 'cliente_create' %}" class="btn btn-primary mb-3">Agregar Cliente</a>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Número de Documento</th>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Número Celular</th>
        <th>Número Factura</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for cliente in clientes %}
        <tr>
          <td>{{ cliente.numero_documento }}</td>
          <td>{{ cliente.nombre }}</td>
          <td>{{ cliente.apellidos }}</td>
          <td>{{ cliente.numero_celular }}</td>
          <td>{{ cliente.numero_factura }}</td>
          <td>
            <a href="{% url 'cliente_update' cliente.pk %}" class="btn btn-warning btn-sm">Editar</a>
            <a href="{% url 'cliente_delete' cliente.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
