{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>Lista de Ganadores</h2>
    <div class="mb-3">
        <a href="{% url 'ganador_create' %}" class="btn btn-primary">Agregar Ganador</a>
        <button onclick="location.reload();" class="btn btn-secondary ml-2">Actualizar</button>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Cliente</th>
                <th>Premio</th>
                <th>Fecha Ganado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for ganador in ganadores %}
            <tr>
                <td>{{ ganador.cliente }}</td>
                <td>{{ ganador.premio }}</td>
                <td>{{ ganador.fecha_ganador|date:"d M Y H:i" }}</td>
                <td>
                    <a href="{% url 'ganador_update' ganador.id %}" class="btn btn-warning">Editar</a>
                    <a href="{% url 'ganador_delete' ganador.id %}" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
