{% extends "base.html" %}

{% block content %}
<h2>Lista de Ganadores</h2>
<a href="{% url 'ganador_create' %}" class="btn btn-primary mb-3">Agregar Ganador</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Cliente</th>
            <th>Premio</th>
            <th>Fecha Ganado</th> <!-- Añadimos la columna de Fecha Ganado -->
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for ganador in ganadores %}
        <tr>
            <td>{{ ganador.cliente }}</td>
            <td>{{ ganador.premio }}</td>
            <td>{{ ganador.fecha_ganador|date:"d M Y H:i" }}</td> <!-- Mostrar la fecha del ganador -->
            <td>
                <a href="{% url 'ganador_update' ganador.id %}" class="btn btn-warning">Editar</a>
                <a href="{% url 'ganador_delete' ganador.id %}" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
