{% load static %} {% load my_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spin Wheel</title>
    <link rel="stylesheet" href="{% static 'ruleta/estilos.css' %}">
</head>
<body>
    <div class="container">
        {% for premio in premios %}
        <div class="segment" style="background-color: {{ premio.color }}; transform: rotate({{ forloop.counter0|multiply:45 }}deg);">
            <span>{{ premio.nombre }}</span>
        </div>
        {% endfor %}
    </div>
    <button id="spin">Girar</button>
    <span class="arrow"></span>
    <div id="overlay"></div>
    <div id="message"></div>
    <div id="congratulations"></div>

    <script>
        let container = document.querySelector(".container");
        let btn = document.getElementById("spin");
        let message = document.getElementById("message");
        let congratulations = document.getElementById("congratulations");
        let overlay = document.getElementById("overlay");
        let premios = [{% for premio in premios %}{"nombre": "{{ premio.nombre }}", "descripcion": "{{ premio.descripcion }}", "angle": {{ forloop.counter0|multiply:45 }}, "probability": {{ premio.probabilidad }}},{% endfor %}];

        function getWinningAngle() {
            let total = 0;
            premios.forEach(p => total += p.probability);
            let random = Math.random() * total;
            let cumulative = 0;
            
            for (let i = 0; i < premios.length; i++) {
                cumulative += premios[i].probability;
                if (random <= cumulative) {
                    return premios[i];
                }
            }
            return null; // default case
        }

        btn.addEventListener("click", function () {
            let win = getWinningAngle();
            let spins = Math.floor(Math.random() * 6) + 10; // Gira entre 10 y 15 veces
            let degrees = 360 * spins + win.angle;
            container.style.transition = "transform 5s ease-out";
            container.style.transform = `rotate(-${degrees}deg)`;

            setTimeout(() => {
                overlay.style.display = "block";
                if (win.nombre === "Gracias por participar") {
                    message.style.display = "block";
                    message.innerHTML = `${win.nombre}: ${win.descripcion}`;
                } else {
                    congratulations.style.display = "block";
                    congratulations.innerHTML = `¡Felicidades! Ganaste ${win.nombre}: ${win.descripcion}`;
                }
            }, 5100);
        });
    </script>
</body>
</html>
