{% extends "base.html" %}

{% block content %}
  <h2>Lista de Premios</h2>
  <a href="{% url 'premio_create' %}" class="btn btn-primary mb-3">Agregar Premio</a>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Probabilidad</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for premio in premios %}
        <tr>
          <td>{{ premio.nombre }}</td>
          <td>{{ premio.descripcion }}</td>
          <td>{{ premio.probabilidad }}</td>
          <td>
            <a href="{% url 'premio_update' premio.pk %}" class="btn btn-warning btn-sm">Editar</a>
            <a href="{% url 'premio_delete' premio.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
